.navbar button {
  background-color: transparent !important;
}

.navbar-brand {
  color: #2d2d44 !important;
  font-size: 32px;
  font-weight: bold !important;
}
.navbar-light {
  background-color: #ffffff;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #33e1ed !important;
  border-bottom: 1px solid #33e1ed;
}

.navbar-light .navbar-nav .nav-link {
  color: #454545;
  margin-left: 15px;
  margin-right: 15px;
}

.hidden-spacer {
  height: 56px;
}

.title {
  font-size: 80px;
  font-weight: 600;
  line-height: 90px;
}

p {
  font-family: 300;
  font-size: 20px;
  line-height: 30px;
}

.sub-heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.banner {
  min-height: 154px;
  margin-bottom: 30px;
  margin-top: 70px;
  border-radius: 20px;
}

.section {
  margin-top: 70px;
  margin-bottom: 30px;
}

.progress {
  height: 8px;
}

.experience-item {
  width: 50%;
  height: 144px;
  position: relative;
}

.item-left {
  border-right: 2px solid;
  margin-left: 1px;
}

.item-left .pointer {
  top: 0px;
  right: -11px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;
}

.item-right .pointer {
  top: 0px;
  left: -11px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;
}

.item-left .inner {
  width: 85%;
  height: 90%;
  padding: 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.item-right {
  border-left: 2px solid;
  margin-left: auto;
  margin-right: 1px;
  margin-top: -50px;
}

.item-right .inner {
  margin-left: auto;
  width: 85%;
  height: 90%;
  padding: 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.inner .label {
  width: fit-content;
  margin-top: 7px;
}

.project-item {
  margin: auto;
  height: 394px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  border-radius: 5px;
}

.image-wrapper {
  position: relative;
  min-height: 611px;
  margin: 'auto';
}

.image-wrapper .image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 561px;
}

.image-dp {
  position: absolute;
  width: 403px;
  z-index: 100;
  top: 45px;
  left: 40px;
}

@media (max-width: 767px) {
  /* styles for devices with a maximum width of 767px (e.g. mobile devices) */
  .image-wrapper {
    position: relative;
    margin: 'auto';
    min-height: 400px;
  }

  .image-wrapper .image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
  }

  .image-dp {
    position: absolute;
    width: 70%;
    z-index: 100;
    top: 45px;
    left: 40px;
  }

  .title {
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .banner {
    min-height: 110px;
    margin-top: 50px;
    border-radius: 10px;
  }

  .experience-item {
    width: 100%;
    min-height: fit-content;
    position: relative;
    margin-top: 0px;
  }

  .item-right {
    border-left: 2px solid;
    margin-left: auto;
    margin-right: 1px;
  }

  .item-right .inner {
    margin-left: auto;
    width: 90%;
    height: fit-content;
    padding: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  }
}
